* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
}
.clr-orange,
.clr-white,
.clr-green {
  height: 33.33vh;
  width: 0;
  position: absolute;
  animation: grow 2s forwards;
}
.clr-orange {
  background: linear-gradient(to bottom, #ff8011, #ffae4a);
  top: 0;
  left: 0;
}
.clr-white {
  background: #ffffff;
  top: 33.33vh;
  right: 0;
}
.clr-green {
  background: linear-gradient(to bottom, #75fc3b, #46ad1b);
  bottom: 0;
  left: 0;
}
@keyframes grow {
  100% {
    width: 100vw;
  }
}
.ashoka-chakra {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 0;
  animation: spin 3s 2s linear infinite;
}
@keyframes spin {
  0% {
    width: 30vmin;
  }
  100% {
    width: 30vmin;
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.A{
  color: yellow;
  margin-top: 250px;
  font-size: 150px;
  margin-left: 400px;
}
.B{
  margin-top: 100px;
  font-size: 120px;
  color: sandybrown;
  margin-left: 400px;
}
